code {
    font-size: 12px;
    background-color: rgb(250,250,250);
    border: 1px dotted rgb(200,200,200);
    padding: 0 2px;
}

html.dark code {
    background-color: #191c20;
    border-color: #1180bd;
}

pre code {
    display: block;
    padding: 5px 10px;
    margin-bottom: 1em;
    overflow-x:auto;
}
